/* .loginsignup{
    width: 100%;
    height: 120vh;
    background: #fce3fe;
    padding-top: 50px;
    margin-bottom: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .loginsignup{
        padding-top: 50px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin: 10px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }
    .loginsignup-container button{
        width: 100%;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px){
    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
    }
    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
    }
} */

.LoginSignup{
    background: linear-gradient(180deg,silver 0%,#54585522 60%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginSignup-container{
      height: auto;
      width: 500px;
      background: white;
      border-radius: 16px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      box-shadow: 0px 0px 25px #00000020;
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup{
    font-size: 26px;

    font-weight: 700;
    margin: 20px 0px 10px 0px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.inputs p{
    margin: 0px;
}

.inputs input{
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
}


.inputs button{
    height: 45px;
    padding: 5px;
    border: 1px solid gray;
    outline: none;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.login{
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    margin: 0px;
}

.login span{
    font-size: 14px;
    color: rgb(244, 54, 54);
    cursor: pointer;
}

.terms{
    display: flex;
    gap: 3px;
}
.terms input{
    margin-bottom: 12px;
}
@media (max-width:1000px){
  .login{
     flex-direction: row;

  }
}



@media (max-width:768px){
    .LoginSignup-container{
        width: 60%;
        padding: 10px 30px 10px 30px;
    }
    /* .inputs input{
        height: 20px;
    }

    .login{
        font-size: 12px;
    }
    .login span{
        font-size: 10px;
    }*/
    .terms p{
        font-size: 12px;
    } 
}