.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 0px 0px 10px #00000010;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 8px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
    transition: 0.3s;
    /* padding: 6px 15px; */
}
.sidebar-item p{
    color: rgb(57, 57, 57);
    font-weight: bold;
}
.sidebar-item:hover{
    box-shadow: 0px 0px 10px #00000020;   
}
.sidebar-item:active{
    background: #fbfbfb;
}
.sidebar-item img{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
@media(max-width:580px){
    .sidebar-item{
         margin: 0px 10px;
        padding: 2px 7px;
    }
}
@media(max-width:380px){
    .sidebar-item{
        margin: 0px 5px;
        padding: 0px 4px;
        gap: 8px;
    }
    .sidebar-item img{
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .sidebar-item p{
        font-size: 10px;
    }
}
@media(max-width:800px){
    .sidebar{
        padding: 30px  0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .sidebar-item{
        margin: 0;
    }
    .sidebar-item img{
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
    .sidebar-item p{
        font-size: 13px;
    }
}